<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if site.title %}{{ site.title | escape }}{% endif %}{% if page.title %} – {{ page.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

  <link rel="stylesheet" href="assets/style-20.css">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
</head>
<body>

  <header>
    <aside>
      <h1>TopoInVis 2022</h1>
    </aside>
    <article>
      <h2>
        <b><span>IEEE Workshop on</span>
        <span>Topological Data Analysis and Visualization</span></b><br />
        <span>in conjunction with IEEE VIS 2022,</span>
        <span>Oklahoma City, USA, October 16, 2022</span>
      </h2>
      <img id="ieee-logo" src="assets/logo-ieee.png" />
    </article>
  </header>

  <main>
    <aside>
      <nav>
        <h1>Menu</h1>
        <ul>
          {% for link in site.navigation %} 
          {% assign current = nil %} 
          {% if page.url contains link.url %} {% assign current = 'current'%} {% endif %}
          <li class="{{ current }}">
            <a href="{{ link.url }}">{{ link.title }}</a>
          </li>
          {% endfor %}
          <li>
            <a href="mailto:julien.tierny@sorbonne-universite.fr">Contact</a>
          </li>
        </ul>
      </nav>
      <hr />
      {% capture my_include %}{% include dates.md %}{% endcapture %}
      {{ my_include | markdownify }}
      <hr />
    </aside>
    <article>
      {{ content }}
    </article>
  </main>

  <footer>
    <aside>
      Last update: April 19th, 2022
<!--       {{ page.last_modified_at | date: '%b %e, %Y' }} -->
    </aside>
    <article>
      <p>
        © Topological Data Analysis and Visualization (TopoInVis at IEEE VIS 2022)
      </p>
    </article>
  </footer>

</body>

</html>
